@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

/* Avertastd regular */
@font-face {
  font-family: "Avertastd";
  src: url(assets/font/AvertaStd-Regular.ttf);
  font-weight: 400;
}

/* Avertastd medium */
@font-face {
  font-family: "Avertastd";
  src: url(assets/font/AvertaStd-Semibold.ttf);
  font-weight: 500;
}

/* Avertastd bold */
@font-face {
  font-family: "Avertastd";
  src: url(assets/font/AvertaStd-Bold.ttf);
  font-weight: 700;
}

/* Avertastd extra bold */
@font-face {
  font-family: "Avertastd";
  src: url(assets/font/AvertaStd-ExtraBold.ttf);
  font-weight: 900;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-light: #f4f9fc;
  --grey: #aaa6c3;
  --blue-dark: #202046;
  --orange: #FE633D;
  --black: #1c1d25;
  --yellow: #ffd166;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avertastd", sans-serif;
  scroll-behavior: smooth;
  caret-color: transparent;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.orange-gradient {
  background: #FE633D;
  background: linear-gradient(-90deg, #FE633D 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #FE633D 0%,
    rgba(60, 51, 80, 0) 100%
  );
}


/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

/* Hover effect over nav buttons: underline */
.navbar-link::after {
  content: "";
  position: absolute;
  background-color: #FE633D;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;

  transform: scaleX(0) translateY(8px);
  transform-origin: right;
  transition: transform 200ms ease-in;
}

.navbar-link:hover::after {
  transform: scaleX(1) translateY(8px);
  transform-origin: left;
}

.font-sora {
  font-family: 'Sora', sans-serif;
}